@*@model Events.web.Models.EventsViewModel*@
@{ ViewBag.Title = "Home Page";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="jumb">
    <p>
        Welcomes to Innovation Hub
    </p>
</div>
@*@Html.Partial("_Events")*@

@*@section scripts{
        @Scripts.Render("~/bundles/ajax")
    }*@
@* Events.web: Startup.cs/EventsController.cs *@