body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('gre.jpg');
    background-size: cover;
    width: 100%;
}
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.event-group-heading {
    background: #808080;
    padding: 5px 10px;
    border-radius: 5px;
}

.event-box {
    width: 100%;
    background: rgba(129, 157, 255, 0.3);
    border-radius: 5px;
    padding: 10px;
    margin: 5px 10px 5px 0;
    word-wrap: break-word;
}
.error {
    font-size: 30px
}

.navbar-inverse {
    background-color: #546de5;
    border-color: #546de5;
    font-weight: 700;
    font-size: 15px;
}


    .navbar-inverse .navbar-brand {
        color: #FFFF00;
    }
    .navbar-inverse .navbar-brand:hover {
        color: #FFFF;
    }


    .navbar-inverse .navbar-nav > li > a {
        color: #FFFF00;
    }

    .navbar-inverse .navbar-nav > li > a:hover {
        color: #FFFF;
    }
.jumb {
    margin-bottom: 50rem;
}

    .jumb p {
        margin-top: 10rem;
        text-align: center;
        font-size: 3.8rem;
        font-weight: 700;
        color: #546de5;
    }